<!DOCTYPE html>
<html>
<head>
  <title>Deals</title>
  <%= stylesheet_link_tag 'default','style','formtastic','formtastic_changes' %>
  <%= javascript_include_tag 'jquery.min','application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrap">
    <h1>Deals.com<span><script type="text/javaScript" src="../javascripts/countdown.js"></script></span>
      <%= link_to "Create a Deal",new_deal_path, :class => 'how' -%>
    </h1>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
 </div>
  <!-- end of wrapper div -->
   <div id="foot">
        <a href="http://www.templatis.com" title="Web templates" class="credit">Web templates</a>
        <ul class="footlist">
            <li class="primary"><h4><a href="" title="">How it Works</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing <a href="" title="">elit</a>. Aenean faucibus tincidunt mollis. Quisque ullamcorper, leo ac bibendum scelerisque, leo odio congue leo, eu ultrices leo augue sit amet erat. Sed ut tempus diam. </p>
            </li>
            <li class="primary"><h4><a href="" title="">About</a></h4>
            <ul>
                <li><a href="" title="">Quisque ullamcorper</a></li>
                <li><a href="" title="">Leo ac bibendum</a></li>
                <li><a href="" title="">Scelerisque</a></li>
                <li><a href="" title="">Leo odio congue leo</a></li>
                <li><a href="" title="">Eu ultrices</a></li>
            </ul></li>
            <li class="primary"><h4>Lit dolor</h4>
            <p>Loremincidunt dolor. Nam adipiscing ligula nisi. <a href="" title="">Aliquam</a> in tellus risus, at fermentum neque. Nulla accumsan dictum est, a sc </p>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
