<!DOCTYPE html>
<html>
<head>
  <title>Deals</title>
  <%= stylesheet_link_tag 'default','style','formtastic','formtastic_changes' %>
  <%= javascript_include_tag 'jquery.min','application' %>

  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrap">
    <h1><%=link_to("Deals.com",deals_path,:class=>'title-link') %>
      <%= link_to "Create a Deal",new_deal_path, :class => 'how' -%>
      <label class='username'><%= check_if_logged_in%></label>
    </h1>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
 </div>
  <!-- end of wrapper div -->

<%= foot_out %>
    <div id="sign-out">
        <div id="sign-up">
            <p>enter your email address and we will send you deals:</p>
            <form action="">
            <ul>
                <li class="field"><input type="text" /></li>
                <li class="btn"><a href=""><img src="../images/btn-sign-go.gif"/></a></li>
            </ul>
            </form>
        </div>
    </div>
</body>
</html>
<span><script type="text/javaScript" src="../javascripts/countdown.js"></script></span>
