<!DOCTYPE html>
<html>
<head>
  <title>Deals</title>
  <%= stylesheet_link_tag 'default','style','formtastic','formtastic_changes' %>
  <%= javascript_include_tag 'jquery.min','application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrap">
    <h1>Deals.com
      <%= link_to "Create a Deal",new_deal_path, :class => 'how' -%>
    </h1>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
 </div>
  <!-- end of wrapper div -->
</body>
</html>
